.done {
  position: absolute;
  width: 300px;
  height: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 150px);
  background-color: burlywood;
  display: flex;
  align-items: center;

  div {
    width: 100%;
    text-align: center;
  }
}

.tableBoard {
  width: 100%;
}

.propertiesPanel {
  width: 25vh;
  max-width: 250px;
  padding: 5px;
  vertical-align: top;
}

.gamePanel {
  padding: 5px;
  min-width: 50vh;
  vertical-align: top;

  div {
    text-align: -webkit-center;
  }
}

.perceptionsPanel {
  width: 25vh;
  max-width: 200px;
  padding: 5px;
  background-color: burlywood;
  vertical-align: top;
  text-align: center;
}

.cell {
  border: 1px dashed #999;
  padding: 0px;
}

.tile {
  width: 50px; 
  height: 50px;
}

.exit {
  position: absolute;
  margin-top: -15px;
  font-size: x-small;
  width: 50px;
}

.visibleTile {
  background-color: lightcyan;
}

.startPoint {
  background-color: cyan;
}

.wumpusTile {
  background-image: url('/assets/wumpus.png');
}

.wumpusDeadTile {
  background-image: url('/assets/wumpus-death.png');
}

.wellTile {
  background-image: url('/assets/well.png');
}

.goldTile {
  background-image: url('/assets/gold.png');
}

.pickedGoldTile {
  background-image: url('/assets/gold-picked.png');
}

.hunter {
  background-image: url('/assets/hunter-right.png');
  height: 50px;
  width: 50px;

  &.hunterDown {
    transform: rotate(90deg); /* w3org */
    -moz-transform: rotate(90deg); /* Firefox */
    -o-transform: rotate(90deg); /* Opera */
    -webkit-transform: rotate(90deg); /* Chrome y Safari */
  }

  &.hunterLeft {
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(-1); /* w3org */
    filter: FlipH; /* Internet Explorer */
  }

  &.hunterUp {
    transform: rotate(270deg); /* w3org */
    -moz-transform: rotate(270deg); /* Firefox */
    -o-transform: rotate(270deg); /* Opera */
    -webkit-transform: rotate(270deg); /* Chrome y Safari */
  }
}