.perceptions {
  width: 100%;
  margin-top: 5px;
  text-align: left;
}

.perception {
  margin-top: 5px;
}

.gameEnded {
  margin-top: 25px;
  background-color: brown;
  color: white;
  text-align: center;
}
