<table class="propertiesTable">
    <tbody>
      <tr class="propertyName">
        <td class="propertyName">Alto del panel:</td>
        <td class="propertyValue">{{height}}</td>
      </tr>
      <tr class="propertyName">
        <td class="propertyName">Ancho del panel:</td>
        <td class="propertyValue">{{width}}</td>
      </tr>
      <tr class="propertyName">
        <td class="propertyName">Fechas restantes:</td>
        <td class="propertyValue">{{arrowsInCarcaj}}</td>
      </tr>
    </tbody>
  </table>
