.withSeparator {
  margin-top: 25px;
}

.propertyValue {
  padding-left: 5px;
}

.goToExit {
  margin-top: 15px;
  text-decoration: underline;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
