<table>
  <tbody>
    <tr>
      <td class="cell">
          Alto / ancho del tablero (entre 4 y 15)
      </td>
      <td class="cell">
          <input type="number" id="height-width" min="4" max="15" class="form-control" [(ngModel)]="boardWidth" (change)="onBoardWithChange()">
      </td>
      <td class="cell">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td class="cell">
          Nº de pozos (Máximo {{totalCells - 3}})
      </td>
      <td class="cell">
          <input type="number" id="pits-count" min="0" class="form-control" [(ngModel)]="pitsCount" (change)="onPitsCountChange()">
      </td>
      <td class="cell">
          &nbsp;
      </td>
    </tr>
    <tr>
      <td class="cell">
          Nº de flechas
      </td>
      <td class="cell">
          <input type="number" id="arrows-count" min="1" class="form-control" [(ngModel)]="arrowsCount">
      </td>
      <td class="cell">
          <button type="button" id="start-game-button" class="btn btn-primary" (click)="startGame()">Comenzar</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="instructions cell">
  <p>
    El objetivo del juego es coger el oro y salir de la mina, evitando caer 
    en los pozos o en la cueva del Wumpus antes de haberlo matado, todo en el menor número de movimientos que
    te sea posible (solo se tienen en cuenta los pasos 'efectivos' que das, no aquellos en los que chocas
    contra un muro ni los cambios de dirección que hagas).
  </p>
  <p>
    Puede usar las flechas y teclas directamente, o escribir el comando adecuado en el cuadro de texto, y luego
    pulsar ENTER para enviar la orden de acción al cazador.
  </p>

  <table class="instructions">
    <thead>
      <tr>
        <th>
          Comando
        </th>
        <th>
          Tecla
        </th>
        <th>
          Función
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          L (de Left)
        </td>
        <td>
          FLECHA LEFT
        </td>
        <td>
          Giro de 90º a la izquierda
        </td>
      </tr>
      <tr>
        <td>
          R (de Right)
        </td>
        <td>
          FLECHA RIGHT
        </td>
        <td>
          Giro de 90º a la derecha
        </td>
      </tr>
      <tr>
        <td>
          W (de Walk)
        </td>
        <td>
          FLECHA UP
        </td>
        <td>
          Paso hacia adelante
        </td>
      </tr>
      <tr>
        <td>
          F (de Fire)
        </td>
        <td>
          SPACE
        </td>
        <td>
          Disparar una flechas
        </td>
      </tr>
      <tr>
        <td>
          X (de eXit)
        </td>
        <td>
          CTRL
        </td>
        <td>
          Salir de la mina
        </td>
      </tr>
    </tbody>
  </table>
</div>