<table>
  <tbody>
    <tr>
      <td class="cell">
          Alto / ancho del tablero (entre 4 y 15)
      </td>
      <td class="cell">
          <input type="number" id="height-width" min="4" max="15" class="form-control" [(ngModel)]="boardWidth" (change)="onBoardWithChange()">
      </td>
      <td class="cell">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td class="cell">
          Nº de pozos (Máximo {{totalCells - 3}})
      </td>
      <td class="cell">
          <input type="number" id="wells-count" min="0" class="form-control" [(ngModel)]="wellsCount" (change)="onWellsCountChange()">
      </td>
      <td class="cell">
          &nbsp;
      </td>
    </tr>
    <tr>
      <td class="cell">
          Nº de flechas
      </td>
      <td class="cell">
          <input type="number" id="arrows-count" min="1" class="form-control" [(ngModel)]="arrowsCount">
      </td>
      <td class="cell">
          <button type="button" id="start-game-button" class="btn btn-primary" (click)="startGame()">Comenzar</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="instructions cell">
  <p>
    El objetivo del juego es coger el oro, cazar al Wumpus con una flecha y salir de la mina, evitando caer 
    en los pozos o en la cueva del Wumpus antes de haberlo matado, todo en el menor número de movimientos que
    te sea posible (solo se tienen en cuenta los pasos 'efectivos' que das, no aquellos en los que chocas
    contra un muro ni los cambios de dirección que hagas)
  </p>
  <p>
    Teclas:<br>
    FLECHA LEFT: Giro de 90º a la izquierda<br>
    FLECHA RIGHT: Giro de 90º a la derecha<br>
    FLECHA UP: Paso hacia adelante<br>
    ENTER: Disparar una flechas<br>
    SPACE: Salir de la mina
  </p>
</div>