
<table class="tableBoard">
  <tbody>
    <tr>
      <td class="propertiesPanel">
        <app-properties
          [height]="getHeight()" 
          [width]="getWidth()" 
          [arrowsInCarcaj]="getArrowsInCarcaj()" 
          [isWumpusDeath]="getWumpusDeath()" 
          [isGoldFound]="getGoldFound()">
        </app-properties>
      </td>

      <td class="gamePanel">
        <div>
          <table>
            <tbody>
              <tr *ngFor="let row of board; let rowNumber=index" [attr.data-index]="rowNumber">
                <td *ngFor="let col of row; let colNumber=index" [attr.data-index]="colNumber" class="tile">
                  <div class="tile" [ngClass]="{'startPoint': getIsStartPoint(rowNumber, colNumber), 'visibleTile': true, 'wumpusTile': getIsWumpusPosition(rowNumber, colNumber), 'wumpusDeathTile': getIsWumpusDeathPosition(rowNumber, colNumber), 'pitTile': getIsPitPosition(rowNumber, colNumber), 'goldTile': getIsGoldPosition(rowNumber, colNumber)}">
                    <div *ngIf="hunterY === rowNumber && hunterX === colNumber">
                      <div class="hunter" [ngClass]="{'hunterDown': hunterDirection === 1, 'hunterLeft': hunterDirection === 2, 'hunterUp': hunterDirection === 3}"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>

      <td class="perceptionsPanel">
        <div>
          <app-perceptions [perceptions]="getPerceptions()" [ended]="ended" (stopGame)="stopGame()"></app-perceptions>
        </div>
      </td>
    </tr>
  </tbody>
</table>
