<div class="done" *ngIf="getIsDone()">
  <div>
    OBJETIVO CUMPLIDO<br>
    en {{getSteps()}} movimientos<br><br>
    <button type="button" class="btn btn-primary" (click)="stopGame()">Aceptar</button>
  </div>
</div>

<table class="tableBoard">
  <tbody>
    <tr>
      <td class="propertiesPanel">
        <app-properties
          [height]="getHeight()" 
          [width]="getWidth()" 
          [arrowsInCarcaj]="getArrowsInCarcaj()" 
          [isWumpusIsDead]="getWumpusIsDead()"
          [isGoldFound]="getGoldFound()"
          [steps]="getSteps()"
          [hunterY]="getHunterY()"
          [hunterX]="getHunterX()"
        >
        </app-properties>
      </td>

      <td class="gamePanel">
        <div>
          <table>
            <tbody>
              <tr *ngFor="let row of board; let rowNumber=index" [attr.data-index]="rowNumber">
                <td *ngFor="let col of row; let colNumber=index" [attr.data-index]="colNumber" class="cell">
                  <div class="tile" [ngClass]="{'startPoint': getIsStartPoint(rowNumber, colNumber), 'visibleTile': getIsVisible(rowNumber, colNumber), 'wumpusTile': getIsWumpusPosition(rowNumber, colNumber), 'wumpusDeadTile': getIsWumpusDeadPosition(rowNumber, colNumber), 'wellTile': getIsWellPosition(rowNumber, colNumber), 'goldTile': getIsGoldPosition(rowNumber, colNumber), 'pickedGoldTile': getIsPickedGoldPosition(rowNumber, colNumber)}">
                    <div *ngIf="hunterY === rowNumber && hunterX === colNumber">
                      <div class="hunter" [ngClass]="{'hunterDown': hunterDirection === 1, 'hunterLeft': hunterDirection === 2, 'hunterUp': hunterDirection === 3}"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>

      <td class="perceptionsPanel">
        <div>
          <app-perceptions [perceptions]="getPerceptions()" [ended]="ended" (stopGame)="stopGame()"></app-perceptions>
        </div>
      </td>
    </tr>
  </tbody>
</table>
